POSTGRES_DB=hatchlab
POSTGRES_USER=hatchlab
POSTGRES_PASSWORD=hatchlab_local_password

BACKEND_PORT=8080
FRONTEND_PORT=3000

VITE_API_BASE_URL=http://localhost:8080
VITE_WS_BASE_URL=http://localhost:8080

POSTGRES_DB=hatchlab
POSTGRES_USER=hatchlab
POSTGRES_PASSWORD=hatchlab_local_password
POSTGRES_PORT=5433

BACKEND_PORT=8080
FRONTEND_PORT=3000

VITE_API_BASE_URL=http://localhost:8080
VITE_WS_BASE_URL=http://localhost:8080

LAB_ADMIN_USERNAME=admin
LAB_ADMIN_PASSWORD=HatchLab!2026

RATE_LIMIT_MAX_ATTEMPTS=5
RATE_LIMIT_WINDOW_SECONDS=10

ACCOUNT_LOCKOUT_MAX_FAILURES=3
ACCOUNT_LOCKOUT_FAILURE_WINDOW_SECONDS=10
ACCOUNT_LOCKOUT_DURATION_SECONDS=20